##
## .gitignore
## CSC160 Programming Assignment Template
## Ashton Hellwig
##

# Tex
DOC/assigned/userdocs.*
!DOC/assigned/userdocs.tex
!DOC/assigned/userdocs.pdf

# CPP
target/debug/*
target/release/*
obj/debug/*
obj/release/*

